:root{
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}
*,
::after,
::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Oswald','sans-serif';
  background-color: var(--mainWhite);
  color: var(--mainDark)
}


.text-title{
  font-family: 'Permanent Marker',cursive;
  letter-spacing: .3rem;
  text-transform: uppercase;
}

.text-blue{
  color: var(--mainBlue)
}

.text-bright{
  color: var(--lightBlue)
}

.btn-black{
  background-color: transparent;
  text-transform: capitalize;
  font-size: 0.8rem;
  color: var(--mainDark);
  border-radius: 0;
  border: 0.1rem solid var(--mainDark)
}

.btn-black:hover {
  background-color: var(--mainDark);
  color: var(--mainWhite);
}

.cart-icon{
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}

.button.yellow{
  color: var(--mainYellow);
  border: 1px solid var(--mainYellow);

  &:hover{
    background-color: var(--mainYellow);
    color: var(--mainWhite)
  }
}
.cart-btn.btn-y{
  background-color: var(--mainYellow);
}

.gradient{
  background: #A770EF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}